# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
.pytest_cache/

# dlt Pipeline & Local State
.dlt/
*.duckdb
data/sample/
data/lakehouse/
data/raw/
*.log
*.gz

# Terraform Local State & Credentials
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json
